# set up python and packages
language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
install: pip install tox-travis coveralls
script: tox

branches:
  only:
    - development
    - release/*
    - master

sudo: false
dist: trusty

# set up postgres
services:
  - postgresql
addons:
  postgresql: "9.5"
  apt:
    packages:
      - postgresql-9.5-postgis-2.3

# create a test database
before_script:
  - psql -U postgres -c "create role batch3dfier with login password 'batch3d_test'"
  - createdb -O batch3dfier batch3dfier_db
  - psql -d batch3dfier_db -c "create extension postgis"
  - psql -d batch3dfier_db -f ./example_data/batch3dfier_db.sql

# report test coverage
after_success:
  - coveralls
