input_polygons:
    # Database access for 2D polygons
    database:
        dbname: batch3dfier_testing
        host: localhost
        port: "5432"
        user: batch3dfier_tester
        pw: batch3d_test
        tile_schema: bagactueel  # Name of the schema that contains the 2D tiles
        user_schema: # Name of the schema where the user has CREATE and DROP privilege. Mainly relevant when 'extent' is provided.
    extent: ./data/extent_large.geojson #/home/bdukai/Development/3dfier_csv/temp/area1.geojson # The polygon for clipping the input
    tile_list:  # list of tile IDs as they are in tile_schema | 'all' to use all IDs in tile_index

input_elevation:
    dataset_dir: /home/bdukai/Data/AHN3/ahn_filtered # location of pointcloud files
    dataset_name: C_{tile}_filtered.LAZ # naming convention for the pointcloud files, {tile} is set to uppercase
    tile_case: upper
    # tile_case controls how the string matching is done for {tile} in order to
    # find the input_elevation files in dataset_dir. Allowed are 
    # 'upper' (e.g. C_25GN1_filtered.LAZ),
    # 'lower' (e.g. C_25gn1_filtered.LAZ),
    # 'mixed' (e.g. C_25Gn1_filtered.LAZ). In case of 'mixed', the values of 
    # the input_polygons tile ID (e.g. what is provided for tile_list) should
    # match exactly the {tile} in dataset_name.
    # For the code see call3dfier()

tile_index:
    polygons: ["bagactueel", "bag_units"]
    elevation: ["ahn3", "ahn_units"]
# [schema, table] that stores the tile extent/index polygons and IDs. Currently
# the same tile index is used for both BAG and AHN.

output:
    format: CSV-BUILDINGS-MULTIPLE # CSV-BUILDINGS-MULTIPLE # OBJ # CSV-BUILDINGS-MULTIPLE
    dir: /home/bdukai/Data/3DBAG

path_3dfier: /opt/3dfier-0.9.6/build/3dfier # location of the 3dfier executable


