# Documentation
include README.rst
include CHANGELOG.md
include LICENSE.txt
recursive-include docs *

# Support files
include batch3dfier_config*

# Example data sets
recursive-include example_data *

# Tests
recursive-include tests *
